body {
  color: #54b3a9;
}

input {
  font-size: 19px;
  border: 2px solid;
  border-radius: 5px;
  border-color: #54b3a9;
  padding-left: 10px;
  cursor: pointer;
}

h1 {
  font-size: 30px;
  margin: 10px auto;
  text-transform: capitalize;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 50px;
  margin: 30px auto;
  text-align: right;
}

hr {
  color: #54b3a9;
  padding: 2px;
  opacity: 80%;
}

ul {
  list-style: none;
  text-align: right;
}

.search-button {
  font-size: 14px;
  color: white;
  border: 2px solid;
  border-radius: 5px;
  border-color: #54b3a9;
  background-color: #54b3a9;
  padding-left: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #626a7c;
  border: none;
}

.current-location {
  font-size: 16px;
  color: white;
  border: 2px solid;
  border-radius: 5px;
  border-color: #54b3a9;
  background-color: #54b3a9;
  padding-left: 5px;
  cursor: pointer;
}

.current-location:hover {
  background-color: #626a7c;
  border: none;
}

.celsius {
  color: #54b3a9;
  text-decoration: none;
}
.break {
  font-size: 30px;
}

p.update {
  color: #626a7c;
  font-size: 10px;
}

li.main-temperature {
  font-size: 30px;
  font-weight: 500;
  padding-right: 40px;
}
li.main-weather-description {
  color: #626a7c;
  text-align: right;
  padding-top: 10px;
}

p.next-days {
  text-align: center;
  margin-top: 30px;
  font-weight: 400;
  font-size: larger;
}

.card {
  margin-top: 20px;
  border: solid, #54b3a9;
}

.main-weather-img {
  width: 15%;
}

.day-weather {
  color: #626a7c;
}
.five-days {
  text-align: center;
  font-size: 19px;
}

.celsius:hover {
  color: #626a7c;
  text-decoration: underline;
}

.fahrenheit:hover {
  color: #54b3a9;
  text-decoration: underline;
}
::placeholder {
  color: #54b3a9;
}
