body {
  color: #54b3a9;
}

input {
  font-size: 19px;
  border: 2px solid;
  border-radius: 20px;
  border-color: #54b3a9;
  padding-left: 10px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

hr {
  color: #54b3a9;
  padding: 2px;
  opacity: 80%;
}

a {
  color: #626a7c;
}

.celsius {
  color: #54b3a9;
  text-decoration: none;
}
.break {
  font-size: 30px;
}
.fahrenheit {
  font-size: 30px;
  color: #626a7c;
  text-decoration: none;
}
p.update {
  color: #626a7c;
  font-size: 10px;
}

p.main-weather-description {
  color: #626a7c;
  text-align: right;
}

p.next-days {
  text-align: center;
  margin-top: 30px;
  font-weight: 400;
  font-size: larger;
}

.card {
  margin-top: 20px;
  border: solid, #54b3a9;
}

.main-weather-img {
  width: 100%;
}

.day-weather {
  color: #626a7c;
}
.five-days {
  text-align: center;
  font-size: 19px;
}

.celsius:hover {
  color: #626a7c;
  text-decoration: underline;
}

.fahrenheit:hover {
  color: #54b3a9;
  text-decoration: underline;
}
::placeholder {
  color: #54b3a9;
}
