body {
  color: #54b3a9;
}


h1 {
  font-size: 30px;
  margin: 10px auto;
  text-transform: capitalize;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 50px;
  margin: 30px auto;
  text-align: right;
}

hr {
  color: #54b3a9;
  padding: 2px;
  opacity: 80%;
}

ul {
  list-style: none;
  text-align: right;
}

a{
  color: #54b3a9;
  text-decoration: none;
}

a:hover {
  color: #626a7c;
  text-decoration: none;

}

.weather-app-wrapper{
  max-width: 700px;
  margin: 20px auto;
}

.border-info {
  border-color: #54b3a9;
}

.form-control {
border: 2px solid;
border-radius: 5px;
border-color: #54b3a9;
cursor: pointer;
}

.search-button {
  font-size: 16px;
  color: white;
  border: 2px solid;
  border-radius: 5px;
  border-color: #54b3a9;
  background-color: #54b3a9;
  cursor: pointer;
}

.search-button:hover {
  background-color: #626a7c;
  border: 2px solid;
  border-radius: 5px;
}

.current-location {
  font-size: 16px;
  color: white;
  border: 2px solid;
  border-radius: 5px;
  border-color: #54b3a9;
  background-color: #54b3a9;
  cursor: pointer;
}

.current-location:hover {
  background-color: #626a7c;
  border: 2px solid;
  border-radius: 5px;
}

li.main-temperature {
  font-size: 30px;
  font-weight: 500;
}

.units {
  position: relative;
  font-size: 16px;
  top: -15px;
}
.unit-break {
  position: relative;
  font-size: 20px;
  top: -15px;
}

 .active {
  color: #626a7c;
  cursor: default;
  text-decoration: none;
}
 
.main-weather-img {
  width: 60%;
}
 

li.main-weather-description {
  color: #626a7c;
  text-align: left;
  padding-top: 10px;
}

li.humidity-stat {
  color: #626a7c;
  text-align: left;
  padding-top: 5px;
}

li.wind-stat {
  color: #626a7c;
  text-align: left;
  padding-top: 5px;
}

p.next-days {
  text-align: center;
  margin-top: 30px;
  font-weight: 400;
  font-size: larger;
}

.card {
  margin-top: 20px;
  border: solid, #54b3a9;
}


.day-weather {
  color: #626a7c;
}
.five-days {
  text-align: center;
  font-size: 19px;
}

p.build-info {
  text-align: center;
  padding-top: 10px;
  color: #626a7c;
}

::placeholder {
  color: #54b3a9;
}
